
@media print {
  .print-hidden {
    display: none !important;
  }

  body {
    background: white !important;
  }

  .ant-btn,
  .ant-breadcrumb,
  .ant-layout-sider,
  .ant-layout-header {
    display: none !important;
  }

  .ant-descriptions-bordered,
  .ant-typography,
  .ant-descriptions-item {
    color: black !important;
  }

  .ant-descriptions-view {
    border: 1px solid #000 !important;
  }

  .ant-tag {
    display: none !important;
  }
}  